{% extends 'layout.twig' %}

{% block title %}Transactions List{% endblock %}

{% block content %}
    <form method="GET" action="">
        <table>
            <thead>
            <tr>
                <th>
                    User ID:
                    <input type="text" class="filter-input" name="user_id" value="{{ user_id ?? '' }}">
                </th>
                <th>
                    Date:
                    <input type="date" class="datepicker filter-input" name="date" value="{{ date ?? '' }}">
                </th>
                <th>

                    Country:
                    <select class="filter-input" name="country_code">
                        <option value="">-- Select Country --</option>
                        {% for country_option in countries %}
                            <option value="{{ country_option.iso_code }}" {% if country_option.iso_code == country_code %}selected{% endif %}>
                                {{ country_option.iso_code }}
                            </option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    Currency:
                    <select class="filter-input" name="currency_code">
                        <option value="">-- Select Currency --</option>
                        {% for currency_option in currencies %}
                            <option value="{{ currency_option.iso_code }}" {% if currency_option.iso_code == currency_code %}selected{% endif %}>
                                {{ currency_option.iso_code }}
                            </option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <button type="submit" class="filter-button">Filter</button>
                </th>
            </tr>
            <tr>
                <th>User ID</th>
                <th>Timestamp</th>
                <th>Country</th>
                <th>Currency</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.user_id }}</td>
                    <td>{{ transaction.happened_at }}</td>
                    <td>{{ transaction.country_code }}</td>
                    <td>{{ transaction.currency_code }}</td>
                    <td>{{ transaction.amountInDefaultCurrency / 100}} EUR | {{ transaction.amount / 100 }} {{ transaction.currency_code }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No transactions found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

    <div class="pagination">
        <span>Page {{ current_page }} of {{ total_pages }}</span>
        {% if current_page > 1 %}
            <a href="?page={{ current_page - 1 }}&user_id={{ user_id }}&country_code={{ country_code }}&currency_code={{ currency_code }}&date={{ date }}" class="pagination-links">Previous</a>
        {% endif %}
        {% if current_page < total_pages %}
            <a href="?page={{ current_page + 1 }}&user_id={{ user_id }}&country_code={{ country_code }}&currency_code={{ currency_code }}&date={{ date }}" class="pagination-links">Next</a>
        {% endif %}
    </div>
{% endblock %}
